$main-color: #2D445D;
$second-color: #4173A9;
$third-color: #6385A9;
$fourth-color: #d9a23b;
$fifth-color: #5D4B2D;

$title-font: 'Bungee', sans-serif;
$sub-font: 'Dosis', sans-serif;
$main-font: 'Open-Sans', sans-serif;
