.tab-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #2d445d;
  transition: all;
  animation: slideInTop 1s;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  -webkit-font-smoothing: antialiased;
}

.tab-nav-button {
  border: none;
  padding: 0.4rem 1rem;
  color: white;
  background: #2d445d;
  text-transform: uppercase;
  font-weight: 200;
  font-family: Roboto, sans-serif;
  transition: all .2s ease-in-out;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &.active {
    background: #436488;
  }
}

.tab-carousel {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: 1rem;
  transition: all;
}

.tab-carousel-slide {
  grid-column: 1 / span  1 ;
  grid-row: 1;
  background: white;
  min-height: 300px;
  border-radius: 15px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);

  > div {
    margin: 1rem;
  }
}

/* Animation CSS */
.tab-appear {
  opacity: 0;
}

.tab-enter {
  transform: translateX(-80%);
  opacity: 0;
  z-index: 10;
}

.tab-appear-active,
.tab-enter-active {
  transition: all .5s ease-in-out;
  transform: translateX(0%);
  opacity: 1;
  z-index: 10;
}

.tab-exit {
  transition: all .5s ease-in-out;
  transform: translateX(0%);
  z-index: 1;
}

.tab-exit-active {
  z-index: 1;
  opacity: 0;
  transform: translateX(80%);
}

@keyframes slideInTop {
  0% { transform: translateY(-100%); opacity: 0; }
}